html, body {
    position: relative;
    overflow-x: hidden;
}

body {
    background-color: #1d1d1d;
    color: white;
}

.note {
    margin-left: 10px;
}

.container h4 {
    color: orangered;
    font-weight: bolder !important;
}
input {
    color: white;
}

label{
    font-size: 16px !important;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 10px;
    font-family: 'Raleway';
}

.row h5{
    font-size: 15px;
}

.row h6{
font-size: 10px;
}

#total {
    font-size: 15px;
    width: 400px;
}

.flex {
    display: flex;
}

.disclaimer {
    color: orangered;
    font-size: 20px !important;
    margin-bottom: -8px !important;
}

.tool {
    line-height: 20px;
}
@media screen and (min-width: 767px) {
#electrolyte {
    margin: 0 auto;
    display: block;
    width: 50%;
}


}